<mat-toolbar>
    <button mat-icon-button class="toolbar-icon" (click)='back()'>
    <mat-icon aria-label="Add">arrow_back</mat-icon>
  </button>
    <h1 class="toolbar-title">Add user</h1>
</mat-toolbar>

<mat-spinner *ngIf="isLoading" class="initial-spinner"></mat-spinner>
<form class="sec-container" autocomplete="off" (ngSubmit)="save(form);" #form="ngForm">

    <mat-form-field hintLabel="Max 200 characters">
        <input matInput #input1 placeholder="Name" [formControl]="name" required>
        <mat-hint align="end">{{input1.value?.length || 0}}/200</mat-hint>
        <mat-error *ngIf="name.invalid">{{this.name.hasError('required') ? 'You must enter a value' : ''}}</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Max 200 characters">
        <input matInput #input2 placeholder="LastName" [formControl]="lastName" required>
        <mat-hint align="end">{{input2.value?.length || 0}}/200</mat-hint>
        <mat-error *ngIf="lastName.invalid">{{this.lastName.hasError('required') ? 'You must enter a value' : ''}}</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Max 200 characters">
        <input matInput #input3 placeholder="Nit" [formControl]="nit">
        <mat-hint align="end">{{input3.value?.length || 0}}/200</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="BirthDay" [formControl]="birthDay">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field hintLabel="Max 200 characters">
        <input matInput #input5 placeholder="Email" [formControl]="email">
        <mat-hint align="end">{{input5.value?.length || 0}}/200</mat-hint>
        <mat-error *ngIf="this.email.hasError('email') && !this.email.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="this.email.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>


    <div class="flex-container">
        <button mat-raised-button color="primary" [disabled]="name.hasError('required')" type="submit">
      Save
    </button>
        <button mat-raised-button (click)="clear()" type="button">
      Clear
    </button>
    </div>

</form>